@using System.Globalization
@model SilverDaleSchools.Models.DetailsViewModel
@{
    ViewBag.Title = "User Details: " + Model.DisplayName;
    // Layout = "~/Views/Shared/_Layout.mobile.cshtml";
}

<link href='@Url.Content("~/Content/MvcMembership.css")' rel="stylesheet" type="text/css" />

<h2 class="mvcMembership">User Details: @Model.DisplayName [@Model.Status]</h2>

<table class="table table-striped table-hover table-bordered table-condensed">

    <tr>

        <th>Passord</th>

        <th>Role</th>
    </tr>
    <tr>
        <td>@Html.ActionLink("Password", "Password", "UserAdministration", new { id = Model.User.ProviderUserKey }, null)
        </td>

        <td>
            @if (Model.IsRolesEnabled)
            {
                @Html.ActionLink("Roles", "UsersRoles", "UserAdministration", new { id = Model.User.ProviderUserKey }, null)
       
            }
        </td>
    </tr>
</table>


<h3 class="mvcMembership">Account</h3>
<div class="mvcMembership-account">
    <fieldset>
        <legend>Account Details</legend>
        <dl class="mvcMembership">
            <dt><b>User Name:</b>@Model.User.UserName</dt>
            <dt><b>Email Address:</b>@Model.User.Email</dt>
            @if (Model.User.LastActivityDate == Model.User.CreationDate)
            {
                <dt>Last Active:</dt>
                <dd><em>Never</em></dd>
                <dt>Last Login:</dt>
                <dd><em>Never</em></dd>
            }
            else
            {
                <dt>Last Active:</dt>
                <dd>@Model.User.LastActivityDate.ToString("MMMM dd, yyyy h:mm:ss tt", CultureInfo.InvariantCulture)
                </dd>
                <dt>Last Login:</dt>
                <dd>@Model.User.LastLoginDate.ToString("MMMM dd, yyyy h:mm:ss tt", CultureInfo.InvariantCulture)
                </dd>
            }
            <dt>Created:</dt>
            <dd>@Model.User.CreationDate.ToString("MMMM dd, yyyy h:mm:ss tt", CultureInfo.InvariantCulture)
            </dd>
        </dl>
    </fieldset>
    <fieldset>

        <legend>Actions</legend>

        @if (Model.Status == SilverDaleSchools.Models.DetailsViewModel.StatusEnum.Online)
        {
            using (Html.BeginForm("LogOut", "UserAdministration", new { id = Model.User.ProviderUserKey }))
            {
           
            <input type="submit" value="LogOut User" class="btn-primary" />
            }
        }
        <br />
        @using (Html.BeginForm("ChangeApproval", "UserAdministration", new { id = Model.User.ProviderUserKey }))
        {
            @Html.Hidden("isApproved", !Model.User.IsApproved)
            <input type="submit" value='@(Model.User.IsApproved ? "Unapprove" : "Approve") Account'  class="btn-primary"/>
        }
        <br />

        @using (Html.BeginForm("ChangeLocked", "UserAdministration", new { id = Model.User.ProviderUserKey }))
        {
@* @Html.Hidden("IsLockedOut", Model.User.IsLockedOut)*@
             
            if (Model.User.IsLockedOut)
            {
            <input type="submit" value='UnLock Account' class="btn-primary" />
            }
        }
        <br />
        @using (Html.BeginForm("DeleteUser", "UserAdministration", new { id = Model.User.ProviderUserKey }))
        {
            <input type="submit" value="Delete Account" class="btn-primary" />
        }
    </fieldset>
</div>

@*<h3 class="mvcMembership">Email Address & Comments</h3>
<div class="mvcMembership-emailAndComments">
    @using (Html.BeginForm("Details", "UserAdministration", new { id = Model.User.ProviderUserKey }))
    {
        <fieldset>
            <p>
                <label for="email">Email Address:</label>
                @Html.TextBox("email", Model.User.Email)
            </p>
            <p>
                <label for="comments">Comments:</label>
                @Html.TextArea("comments", Model.User.Comment)
            </p>
            <input type="submit" value="Save Email Address and Comments" />
        </fieldset>
    }
</div>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>


        //$("#tabs").tabs().width("750px");
        //$("#tabs1").tabs().width("750px");

        //$("#accordion").accordion().width("235px");
    </script>
}
